.card {
    max-width: 600px;
    border: 1px solid;
}

.card_img {
    width: 100%;
}

.card_description {
    display: none;
}

.card.open .card_description {
    display: unset;
}

.card.open .card_img {
    display: none;
}
