main {
    margin: 1rem;
}

.card {
    position: relative;
    max-width: 800px;
    border: 1px solid;
}

.card_img {
    width: 100%;
}

.card_description {
    display: none;
}

.card.open .card_description {
    display: unset;
}

.card.open .card_img {
    display: none;
}

input.invalid {
    outline: 1px solid red;
}

:fullscreen .card:not(.open) .card_index {
    position: absolute;
    top: 10px;
    left: 5px;
}

:fullscreen main {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

:fullscreen .card {
    height: 100vh !important;
    overflow: auto;
}

#card_container {
    flex-grow: 10;
}

.controls {
    flex-grow: 0;
    flex-shrink: 10;
}

:fullscreen .card_img {
    height: 100%;
}
